name: UpdateVersionNumberFromTag.yml

on:
  push:
    tags:        
      - 'v[0-9]+\.[0-9]+\.[0-9]+'

jobs:
  # This workflow contains a single job called "build"
  update-version-number:
  
    runs-on: ubuntu-20.04
    steps:
        # Quit exit if this isn't the K1 branch
      - name: Exit if not on production branch
        env:
          GITHUB_VAR: ${{ toJson(github) }}          
        if: endsWith(github.event.base_ref, 'kenshi1') == false
        run: exit 0
      - name: checkout repo content
        uses: actions/checkout@v2 # checkout the repository content to github runner
        with:
            ref: kenshi1
            
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV     
      - name: Write new version to file
        run: sed -i  "s/AssemblyFileVersion\(.*\)/AssemblyFileVersion\(\"$RELEASE_VERSION\"\)/"  "forgotten construction set/Properties/AssemblyInfo.cs"
      - name: commit files
        run: |
          git pull
          git config --local user.email "craig@lofigames.com"
          git config --local user.name "craig-lofigames"
          git add -A
          git commit -m "Updating AssemblyInfo.cs with new version number" -a
          
      - name: push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: master
