name: UpdateVersionNumberFromTag.yml

on:
  push:
    branches: [ "main" ]
    tags:        
      - '1\.[0-9]+\.[0-9]+'

jobs:
  update-version-number:
    runs-on: ubuntu-20.04
    steps:    
      - name: checkout repo content
        uses: actions/checkout@v2 # checkout the repository content to github runner
        with:
            ref: main
      #- name: Exit if tag not on Kenshi 1 branch
      #  env:
      #    GITHUB_VAR: ${{ toJson(github) }}          
      #  if: endsWith(github.event.base_ref, 'kenshi1') == false
      #  run: |
      #    echo "1.x.x tag used on a non Kenshi 1 branch"
      #    exit 1
      - name: Get version number from tag
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV     
      - name: Write new version to file
        run: sed -i "s/KENSHI_VERSION[ \t]+\"[0-9]\.[0-9]+\.[0-9]+\"/KENSHI_VERSION\t\t\"$RELEASE_VERSION\"/" version.h > version.h
      - name: print
        run: echo "version.h" >> $GITHUB_ENV   
      - name: print2
        run: cat "version.h" >> $GITHUB_ENV   
      - name: Commit change
        run: |
          git pull
          git config --local user.email "craig@lofigames.com"
          git config --local user.name "craig-lofigames"
          git add -A
          git commit -m "Updating version.h with new version number" -a          
      - name: Push change
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: master
